/**
 *  Uitility classes
 */
.u-align--left {
	text-align: left;
}
.u-align--right {
	text-align: right;
}
.u-align--center {
	text-align: center;
}
.u-vertical-align--top {
	vertical-align: top;
}
.u-valign--middle {
	vertical-align: middle;
}
.u-valign--bottom {
	vertical-align: bottom;
}



/**
 *  Status Modifier
 *
 *  Programmatischer Ansatz um Bereiche ein/auszublenden
 *  abhängig vom Viewport. Ausschließlich für den Einsatz im Markup.
 *  Der Ansatz arbeitet mit Mindestweiten. Die Bennenung orientiert
 *  sich an dem Media Queries Hash in der `_configuration.scss`.
 *
 *  Markup Anwendung:
 *
 * 		<div class="l-frame l-frame--is-visible-desk">
 * 		...
 * 		</div
 */
.is-visible-desk {
	display: none;

	@include media-query (desk) {
		display: block;
	}
}

.is-visible-lap {
	display: none;

	@include media-query (lap) {
		display: block;
	}
}

.is-visible-lap-and-up {
	display: none;

	@include media-query (lap-and-up) {
		display: block;
	}
}

.is-visible-palm {
	display: none;

	@include media-query (palm) {
		display: block;
	}
}