/**
 * Some extra placeholders to allow our laziness ;-)
 * Extends inuitcss vertical rhythm placeholder `%margin-bottom`
 *
 * Example:
 *
 * .foo {
 * 		@extend %margin-bottom-quarter;
 * 	}
 */
.u-mb {
    @extend %margin-bottom;
}
.u-mb--flush {
    margin-bottom: 0;
}

.u-mb--quarter,
%margin-bottom-quarter {
    margin-bottom: quarter($app-base-spacing-unit);
    margin-bottom: (quarter($app-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

.u-mb--half,
%margin-bottom-half {
    margin-bottom: halve($app-base-spacing-unit);
    margin-bottom: (halve($app-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

.u-mb--double,
%margin-bottom-double {
    margin-bottom: double($app-base-spacing-unit);
    margin-bottom: (double($app-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}

.u-mb--quadruple,
%margin-bottom-quadruple {
    margin-bottom: quadruple($app-base-spacing-unit);
    margin-bottom: (quadruple($app-base-spacing-unit) / $inuit-base-font-size) * 1rem;
}